<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>合気みち</title>
</head>
<body>
    <h1>稽古管理アプリ</h1>

    <table>
        <thead>
            <tr>
                <th>イベント名</th>
                <th>イベント開催日</th>
                <th>場所</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.place }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>


</body>
</html>
